* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
}

#app {
  display: flex;
}

.servers {
  background-color: #202225;
  width: 72px;
  height: 100vh;
  padding: .75rem 0;
}

.servers .item {
  padding: .75rem;
  width: 100%;
  height: 72px;
  
}

.servers .item .icon {
  width: 100%;
  height: 100%;
  background-color: #2f3136;
  border-radius: 50%;
  margin-bottom: 8px;
}

.servers .item .set {
  width: 100%;
  height: 100%;
  background-color: #2f3136;
  border-radius: 50%;
  margin-bottom: 8px;
}

.servers .item .bar{
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background-color: #2f3136;
  margin-bottom: 8px;
  margin-left: 7px;
}

.servers .item .icon:hover {
  background-color: #5865F2;
  border-radius: 13px;
}

.servers .item .set:hover {
  background-color: #3BA55D;
  border-radius: 13px;
}