* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* 디코 좌측 첫번째 */

html, body {
  font-size: 16px;
}

#app {
  display: flex;
}

.servers {
  background-color: #202225;
  width: 72px;
  height: 100vh;
  padding: .7rem 0;
}

.servers .item {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.servers .item .icon {
  width: 48px;
  height: 48px;
  background-color: #36393f;
  border-radius: 50%;
  transition: all 250ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servers .item .icon .discord {
  fill: #dcddde;
  transition: all 250ms;
}

.servers .item .icon .green {
  fill: #3ba55d;
  transition: all 250ms;
}

.servers .divider {
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background-color: #36393f;
  margin: 0 auto;
  margin-bottom: 8px;
}

.servers .item .icon:hover {
  background-color: #5865F2;
  border-radius: 13px;
  cursor: pointer;
}

.servers .item.action .icon:hover {
  background-color: #3BA55D;
  border-radius: 13px;
  cursor: pointer;
}

.servers .item.action .icon:hover .green,
.servers .item .icon:hover .discord {
  fill: white;
}

img {
  width: 100%;
  height: 100%;
}
/* 디코 좌측 첫번째 */

/* 디코 좌측 두번째 */

.sidebar {
  background-color: #2F3136;
  width: 240px;
  height: 100vh;
}

.sidebar .header {
  padding: 12PX 16px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.sidebar .header:hover {
  background-color: #3b3f44;
  cursor: pointer;
}

.sidebar .head {
  color: #96989E;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.sidebar .head .top {
  margin-right: 65%;
}

.sidebar .head .nav_plus {
  margin-right: 11px;
}

.sidebar .head:hover {
  color: #FFFFF3;
  cursor: pointer;
}

.sidebar .nav_item {
  color: #96989E;
  padding: 1px 0px;
  margin-left: 15px;
  display: flex
}

.sidebar .nav_item .nav_icon {
  height: 2rem;
  margin-left: 6px;
  align-content: center
}

.nav_item .nav_icon .pound,
.nav_item .nav_icon .sound {
  
}

.sidebar .nav_item:hover {
  color: #FFFFF3;
  background-color: #42464E;
  border-radius: 4px;
  cursor: pointer;
}

.nav_foot {
  display: flex;
  position: absolute;
  bottom: 0px;
  padding: 0px 8px;
  height: 52px;
  width: 240px;
  align-items: center;
  background-color: #292B2F;
}

.nav_foot .nav_hide {
  display: inline-flex;
  font-size: 14px;
  color: #D4FFFF;
}

.nav_foot .nav_hide:hover {
  background-color: #3b3f44;
  border-radius: 5px;
}

.nav_foot .nav_font {
  display: inline-flex;
  margin-left: 42px;
}

.nav_foot .nav_font .nav_mic:hover ,
.nav_foot .nav_font .nav_hdset:hover ,
.nav_foot .nav_font .nav_topic:hover {
  background-color: #3b3f44;
  border-radius: 5px;
}

/* 디코 좌측 두번째 */
